@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
:root{
    --navy: #343D68;
    --purple: #4F47C8;
    --red: #E84949;
    --blueGrad:  linear-gradient(302.35deg, #0D54BE 4.37%, #20ECD3 95.31%);
    --dpShadow:  0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    --cardShadow: 0px 3px 4px rgba(52, 61, 104, 0.14), 0px 3px 3px rgba(52, 61, 104, 0.12), 0px 1px 8px rgba(52, 61, 104, 0.2);
}


*{
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
    color:#000000d5;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    /* padding: 0.5rem;    */
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
}
.logo{
    font-weight: 700;
font-size: 26px;
color: #343D68;
line-height: 0;
}
nav{
display: flex;
place-items: center;
align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 14px;
    margin: 2px 12px;

}
nav a:hover{
    color: var(--red);
}
nav a strong{
    color: #000000;
    margin-right: 3rem;
    letter-spacing: 0.6px;
}
nav a:last-child{
    margin-right: 0;
}
.project-link{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}
.project-link strong{
    color:var(--purple);
    margin: 0;
}
.gear-svg{
    width: 35px;
   margin-left: 2px;
}
.landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 50px;
    flex-wrap: wrap-reverse;
    padding: 0 44px;
}
.left-wing{
    max-width: 500px;
}
.right-wing{
    flex-grow: 0.8;
    display: flex;
    place-items: center;
   
}
.back-svg{
    position: absolute;
    z-index: -1;
}
.user-image{
    width: 100%;
    height: 520px;
    object-position: top;
    object-fit: cover;
}
.name strong{
    font-size: 30px;
    color: var(--navy);
}
.description, .desc{
    margin: 1.2rem 0 2.3rem;
    line-height: 1.7;
    font-size: 14px;
}
.desc{
    font-size: 14px;
}
.hire{
    outline: none;
    border: none;
    background: #E84949;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}
.skill-title{
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;

}
.skill-title strong{
    font-size: 20px;
    color: var(--navy);
}
#skills{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
 flex-wrap: wrap-reverse;
}
.project-svg{
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}
.left-skill{
    max-width: 500px;
    flex-grow: 0.8;
}


.hexagon{
    width:max-content;
    height: max-content;
    position: relative;
    /* background-image: url("images/hexagon.svg"); */
    background-size: cover;
    padding: 10px;
    /* box-sizing: border-box; */
}
.single-skill{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-gap: 8px;
    width: max-content;
    margin: 12px;
}
.skill-image{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.skill-name{
    font-weight: 500;
    font-size: 14px;
    max-width: 110px;
    /* color: black; */
    text-align: center;
}
.all-skills{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* about section  */
.about{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px;
    justify-content: space-between;
}
.about .right-wing{
    place-items: unset;
}
.about-img{
    height: 500px;
    width: auto;
    flex-grow: 0.8;
    object-fit:cover;
}
.about-title strong{
    font-size: 20px;
    color: var(--navy);
}
.about .left-wing{
margin:0 10px;
}





/* project section  */
#project{
    text-align: center;
    margin-bottom: 4rem;
}
.projects-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.pro-container{
    margin: 10px;
    width: 300px;
    border-radius:6px;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: grid;
    justify-items: center;
    text-align: left;
    height: max-content;
    grid-gap: 8px;
    padding-bottom: 10px;
    box-shadow: var(--cardShadow);
}
.pro-container small{
    text-align:right;
    width: 90%;
}
.pro-image{
    object-fit:cover;
width: 100%;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
height: 202px;
}
.pro-container:hover .visit{
    display: flex;
}
.visit{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 229px;
    /* background-color: #070707af; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: #fff;
    /* transition: .7s; */
}
.visit span{
    width: max-content;
    height: max-content;
    padding: 4px 20px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: #070707af;

}
.pro-container h3{
    margin: 0;
    width: 100%;
    padding: 0 10px;
}
.pro-container .read{
    border: 1px solid #000;
    padding: 6px 12px;
    color: black;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 20px;
}
.pro-text{
    margin: 0;
    font-size: 14px;
    padding: 0 10px;
    line-height: normal;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.social-icon{
    width: 24px;
    height: 24px;
    transition: 0.5s;
    /* margin: 5px; */
}
.social-icon:hover{
    transform: translateY(-5px);
}
.cont{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-content: center;
    grid-column-gap: 15px;
}
.cont a{
    display: flex;
    ALIGN-ITEMS: CENTER;
    JUSTIFY-CONTENT: CENTER;
    flex-wrap: wrap;

}
a{
    text-decoration: none;
}
.cont a, .pro-text a, .desc a{
    color: #3ab2f8;
}
.more-articles{
    background: var(--purple);
    color: white;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    place-items: center;
    justify-content: center;
    max-width: 350px;
    margin: 16px auto;
}
.more-articles:hover{
    background:#393397;
}


/* service section */
#services{
    padding: 4px;
    padding-top: 50px;
}
.service-card{
    width: max-content;
    /* border: 1px solid black; */
    box-shadow: var(--cardShadow);
    min-width: 268px;
    padding: 4px 12px;
    border-radius: 6px;
    margin: 20px;
    padding-top: 16px;
}
.service-card h4{
    margin: 4px 0;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 24px;
    align-items: flex-start;
}


/* contact section  */
.send:hover{
    background: #3c387f;
}
#contact{
margin:0;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.email,.message{
    width:85%;
    margin-bottom:1rem;
    box-shadow:var(--cardShadow);
    border-radius:6px;
    border:none;
    padding:12px 9px 5px;
    outline:none;
    font-size: 14px;
}
.email::placeholder,.message::placeholder{
    font-size: 14px;
}
.send{
background:var(--purple);
padding: 8px 16px;
display:flex;
place-items:center;
color:white;
border-radius:4px;
width:max-content;
}
.send img{
    width:30px;
    height: 30px;
}
.right-cont{
    flex-grow: 0.2;
}
footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: url("images/wave.svg") top no-repeat;
    background-size: cover;
padding:2.5rem 0;
}
.white{
    color: white;
    margin: 1rem 0;
    font-size: 14px;
}
.white >article{
    color: white;
    display: flex;
    place-items: center;
}
.white a{
    margin: 0 5px;
    text-decoration: underline;
    font-size: 14px;
}
.media-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 240px;
    margin-bottom: 1rem;
}
.media-icons img{
    margin-right: 15px;
}
.media-icons img:last-child{
    margin: 0;
}
/* svg animations  */

#big{
/* animation: spin 9s linear infinite; */
transform-origin: 30.5% 39.5%;
}
#small{
/* animation: spin 6s linear reverse infinite; */
transform-origin: 72.3% 69.5%;
}


/* articles section  */
#articles{
    background: var(--navy);
    padding: 24px 50px;
}
#articles .desc{
    text-align: center;
    color: white;
    margin: 15px 2px;
}
.white-text{ color:white! important; }


@keyframes spin{
    from{
       transform: rotate(0deg);
    }
    to{
transform: rotate(360deg);
    }
}

/* Styles for users who prefer dark mode at the OS level */


/* @media (prefers-color-scheme: dark) {
    *{
        color: #bdbdbd;  
    }
    .name strong{
        color: #bdbdbd;  

    }
    body { 
        background: #090a1b;
    }
    nav a strong {
        color: #bdbdbd;
    }
    .pro-container{
        background: #030413;
    }
    .email , .message{
        background: #030413;
        box-shadow: 2px 1px 4px 0px rgb(0 0 0 / 54%), 0px 0px 4px 0px rgb(0 0 0 / 54%);
    }
    .email:active{
        background: #070a27;
    }
    .user-image, .pro-image{
        filter: brightness(0.8) contrast(1.1);
    }
    .hire{
        background: #bd3232;
    }
    .send{
        background: #3930bf;
    }
} */



/* responsiveness  */

@media only screen and (max-width: 1148px){
    .left-wing {
        max-width: 400px;
    }
    .right-wing{
        /* margin-bottom: 20px; */
    }
}

@media only screen and (max-width: 703px){
nav{
    display: none;
}
header {
    display: grid;
    width: 100%;
    justify-content: center;
}
header:hover nav{
    display: grid;
    grid-gap: 8px;
}
}
@media only screen and (max-width:500px){
    *{
        font-size: 14px;
    }
    /* main{
        padding: 10px;
    } */
    header{
        padding: 20px 0;
    }
    .landing{
        margin: 10px 0 50px;
    }
    nav{
        width: 100%;
        justify-content: space-around;
    }
    nav a{
        font-size: 16px;
    }
    nav a strong{
        margin: 0;
        font-size: 16px;
    }
    .project-link{
        margin: 0;
    }
    .left-wing{
        text-align: center;
        margin-top: 16px;
    }
    .right-wing{
        /* padding: 50px; */
        overflow-x: hidden;
    }
    .right-right{
        display: flex;
    place-items: center;
    justify-content: center;
    }
    .project-svg{
        width: 83%;
        height: 210px;
        margin-bottom: 20px;
    }
    #project,#skills{
        margin-bottom: 30px;
        padding: 0 30px;
    }
    #contact{
        margin: 20px 0;
    }
    .pro-image{
        height: 150px;
    }
    .pro-container{
        /* height: 300px; */
    }
    .landing{
        margin: 0 0 50px;
    }
    .single-skill{
        margin: 14px 0;
        grid-gap: 4px;
    }
    .user-image{
        width: 100%;
        height: 250px;
    }
    .name strong {
        font-size: 18px;
    }
    .description{
        text-align: left;
    }
    .description, .desc{
        line-height: 1.5rem;
        font-size: 14px;
    }
    .hire{
        font-size: 14px;

    }
    .skill-name{
        font-size: 14px;
    }
    .hexagon{
        padding: 20px;
    }
    .skill-image{
        width: 50px;
        height: 50px;
    }
    .left-cont{
        display: flex;
        justify-content: center;
    }
    footer{
        flex-direction: column;
    }
}